n8n/workflow.json
{
  "name": "Mock Data to WordPress (Forward as-is)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "mock-to-wp",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "http://nginx/mock-data.json",
        "responseFormat": "json"
      },
      "name": "Fetch Mock Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://<domain>/wp-json/connector/v1/ingest",
        "requestMethod": "POST",
        "jsonParameters": true,
        "sendHeaders": true,
        "options": {},
        "bodyParametersJson": "={{$json}}",
        "headerParameters": [
          {
            "name": "Content-Type",
            "value": "application/json"
          },
          {
            "name": "Authorization",
            "value": "Bearer {{$env.API_KEY}}"
          }
        ]
      },
      "name": "Push to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      \"status\": \"success\",\n      \"forwarded\": true,\n      response: $json\n    }\n  }\n];"
      },
      "name": "Create JSON Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Mock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Mock Data": {
      "main": [
        [
          {
            "node": "Push to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to WordPress": {
      "main": [
        [
          {
            "node": "Create JSON Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create JSON Payload": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}
